.home-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.hero-image-container {
    text-align: center;
    margin-top: 32px;
}

.body-copy-container {
    text-align: center;
    margin-top: 32x;
}

.featured-products-container {
    text-align: center;
    margin-top: 48px;

    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }

    .featured-product-image-wrapper {
        position: relative;
        height: 500px;
    }

    .featured-product-title {
        margin-top: 16px;
        text-align: left;
        font-size: 18px;
        font-weight: 500;
    }

    .featured-product-description {
        text-align: left;
        font-size: 16px;
        opacity: 0.5;
    }
}

.products-container {
    text-align: center;
    margin-top: 64px;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        border-radius: 100%;
    }
}

.home-cta-container {
    text-align: left;
    margin-top: 64px;
    background-color: #f0f0f0;
}