<div class="home-container">

    @if (heroImage(); as heroImage) {

    <div class="hero-image-container">
        <img [ngSrc]="heroImage.url" [width]="heroImage.width" [height]="heroImage.height" priority alt="Hero Image">
    </div>
    }

    @if (bodyCopyHtml(); as bodyCopyHtml) {
    <div class="body-copy-container">
        <div [innerHTML]="bodyCopyHtml"></div>
    </div>
    }
    @if (products.value(); as products) {
    <div class="products-container">
        <div [libFlexRow]="true" [libFlexRowGap]="'32px'" [libFlexRowAlign]="'center'">
            @for (product of products; track product.id) {
            <a libFlexColumn [routerLink]="product.url">
                <div>
                    <img [ngSrc]="product.image.url" [width]="product.image.width" [height]="product.image.height"
                        priority alt="">
                </div>
                <div>
                    <h4> {{product.title}}</h4>
                </div>
            </a>
            }
        </div>
    </div>
    }

    @if (featuredProducts(); as featuredProducts) {
    <div class="featured-products-container">
        <div [libFlexRow]="false" [libFlexRowAlign]="'center'" [libFlexRowGap]="'24px'">
            @for (product of featuredProducts; track product.id) {
            <div libFlexColumn libFlexFill>
                <a [routerLink]="product.url">
                    <div class="featured-product-image-wrapper">
                        <img [ngSrc]="product.image.url" fill priority alt="">
                    </div>
                    <div>
                        <div class="featured-product-title"> {{product.title}}</div>
                        <div class="featured-product-description">
                            {{product.description}}
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
    }

    @if (homeCTA(); as homeCTA) {
    <div class="home-cta-container">
        <div [libFlexRow]="false" [libFlexRowAlign]="'start'" [libFlexRowGap]="'24px'">
            <div libFlexColumn>
                <img [ngSrc]="homeCTA.image.url" [width]="homeCTA.image.width" [height]="homeCTA.image.height" alt="">
            </div>
            <div libFlexColumn [libFlexSize]="'fill'">
                <div>
                    <h3 class="home-cta-title"> {{homeCTA.title}}</h3>
                    <div [innerHTML]="homeCTA.textHtml"></div>
                    <ui-button> {{homeCTA.buttonText}}</ui-button>
                </div>
            </div>
        </div>

    </div>
    }
</div>