
@use './app/components/ui/flex/_flex.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@include flex.flex();

:root {
    --header-color: #2d2d2d;
    --footer-color: #e8e8e8;
    --primary-color: #0074cc;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}